/* Generic stylings */
html {
    background-color: rgb(117, 0, 0);
}

/* specific stylings */
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    cursor: pointer;
}
.gameBoxDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 400px;
    height: 200px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}
#green {
    background-color: green;
    color: white;
}
#red {
    background-color: red;
    color: white;
}
#noButton {
    background-color: white;
    float: right;
}
#yesButton {
    background-color: white;
    float: left;
}
.clear {
    clear: both;
}
/* Effects */
div:hover {
    transform: scale(1.03);
}